.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 1rem 1.5rem;
    border: 1px solid #737373;
    margin-bottom: 1rem;
    font-size: 16px;
}
