.ArticlePage {
   display: flex;
   justify-content: center;

   .container {
       max-width: 1150px;
       margin: 0 auto;
   }

   .ArticlePage__item {    
   
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
        padding: 2rem;
        margin: 2rem 0;

       .ArticlePage__item__title {
           color: #58007b;
           font-size: 3rem;
           font-weight: 600;
           padding: 2rem 0;
       }
       
       .ArticlePage__item__description {
           color: #737373;
           padding-bottom: 2rem;
       }
   }

}