.container {
        max-width: 1250px;
        margin: 0 auto;

    .ArticleMain {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 3rem;

        h1 {
            letter-spacing: 1.5px;
            color: #9c01ff;
            font-size: 2rem;
            margin: 2rem 0 2rem 1rem;
        }

        a {
            color: black;
            text-decoration: none;
        }
  }
}