.header_profile {
    padding: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    
    .profile_img {
      width: 20px;
      margin-right: 5px;
    }

    p {
      padding-right: 5px;
    }
}
