.Header {
    display: flex;
    header {
        height: 3.75rem;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        background: #ffffff;
        width: 100%;

    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    .Header__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Header__img {
        width: 3.125rem;
        height: 3.125rem;
    }

     ul {

         li {
            display: inline;
            padding: .5rem;
            cursor:pointer;
         }
     }

     .Header__menu {
         display: flex;
         justify-content: center;
         align-items: center;
     }

    }
}