.ArticleList {

    .ArticleList__item {
        display: flex;
        padding: 1rem;
        display: flex;
        width: 80%;
        height: 11.25rem;
        transition: all .2s;
        position: relative;

        .ArticleList__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            color: #737373; 

            .ArticleList__content__date {
                margin-top: auto;
                font-size: 12px;
            }

            .ArticleList__content__title {
                color: #58007b !important;
                width: 80%;
                padding-bottom: 1rem;
            }

            .ArticleList__content__annotation {
                width: 90%;
            }
        }

        .ArticleList__image {
            overflow: hidden;
            img {
                max-width: 18rem;
                border-radius: 6px;
            }
        }
}

    .ArticleList__item:hover{
        bottom: 3px;
        cursor: pointer;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    }

}