.MainNav { 
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4B0082;
  
 .HeaderNav {
    padding: 2rem 4rem;
    width: 75%;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .HeaderNav__link {
           cursor:pointer;
           color: #ffffff;
           font-weight: 600;

           a {
            color: #ffffff;
            text-decoration: none;
            transition: all 0.3s;
           }
        }

        li a:hover{
          color: #ff01ff !important;
        }
    } 
}
}